body {
	background: linear-gradient(to right, #bb1751, #127ac0)
}

.calculator {
	width: 60%;
	height: 300px;
	margin: 0 auto;
	margin-top: 75px;
}

.inputs {
	width: 80%;
	margin: 0 auto;
	margin-top: 125px;
	display: flex;
	justify-content: space-around;
}

input {
	display: inline-block;
	padding: 15px;
	background: transparent !important;
    border: none;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    font-family: Calibri, sans-serif;
    border-bottom: 1px solid #ffffff;
    outline: 0;
}

.buttons {
	width: 70%;
	margin: 0 auto;
	margin-top: 75px;
	display: flex;
	justify-content: space-around;
}

button {
	width: 95px;
	height: 95px;
	background-color: #ffce44;
	border: 0;
	border-radius: 50%;
	text-align: center;
	font-size: 1.5em;
	outline: 0;
	cursor: pointer;
	animation: button 2s linear infinite;
}

button:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95px;
	height: 95px;
	background: #ffff00;
	border-radius: 50%;
	animation: radial-pulse 1s infinite;
}

.result {
	width: 30%;
	margin: 0 auto;
	margin-top: 75px;
	font-size: 1.5em;
	font-family: Calibri, sant-serif;
	color: #c8c8c8;
}

@keyframes button {
    from {
        transform: rotate(-20deg);
    }
	50% {
        transform: rotate(20deg);
	}
    to {
        transform: rotate(-20deg);
    }
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}

/*----------------*/

/*.pulse, .bloc, .phone {
 position: absolute;
 width: 90px;
 height: 90px;
 color: #fff;
 text-align: center;
 border-radius: 50%;
}
.bloc {
 cursor: pointer;
 z-index: 1;
 overflow: hidden;
}
.pulse {
 background: #5CC2E2;
 position: relative;
 transition: .5s;
}
.phone {
 font-size: 50px;
 line-height: 94px;
 animation: phone .9s ease-in-out infinite;
}
.text {
 position: absolute;
 opacity: 0;
 text-transform: uppercase;
 font-weight: 700;
 top: 39px;
 left: 27px;
 font-size: 15px;
 transform: scaleX(-1);
 transition: .5s ease-in-out;
}
.pulse:hover {
 background: #29AEE3;
}
.pulse:hover i {
 transition: .5s ease-in-out;
 transform: scale(0);
}ansform: scaleX(1);
 transition: .5s ease-in-out;
 opacity: 1;
}
.pulse:hover::before,
.pulse:hover::after {
 content: '';
 position: absolute;
 border: 1px solid #29AEE3;
 left: -20px;
 right: -20px;
 top: -20px;
 bottom: -20px;
 border-radius: 50%;
 animation: pulse 1.8s linear infinite;
 opacity: 0;
}
.pulse:hover::after {
 animation-delay: .5s;
}
.pulse:hover .text {
 tr*/

@keyframes phone {
 0%, 100% {
  transform: rotate(-20deg);
 }
 50% {
  transform: rotate(21deg);
 }
}
@keyframes pulse {
 0% {
  transform: scale(0.5);
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  transform: scale(1.2);
  opacity: 0;
 }
}


button:hover span {display:none}
.btn-plus:hover:before {content:"Plus"}
.btn-min:hover:before {content:"Minus"}
.btn-mult:hover:before {content:"Mult"}
.btn-div:hover:before {content:"Div"}